{% extends 'base_vet_profile.html' %}
{% block title %} Profile {% endblock %}
{% block head%}
  {{ super() }}
{% endblock %}

{% block content %}
        <header>
          <h2>Manage Appointments</h2>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
          {% endwith %}
          <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search" />
          </div>
          <a href="{{ url_for('main.home') }}" class="home-link">Home</a>
        </header>

        <table>
          <thead>
            <tr>
              <th>Farmer's Name</th>
              <th>Phone Number</th>
              <th>Appointment Date & Time</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for appointment in appointments %}
            <tr>
              <td>{{ appointment.farmer.last_name }}</td>
              <td>{{ appointment.farmer.phone }}</td>
              <td>{{ appointment.slot.start_time.strftime('%Y-%m-%d') }} {{ appointment.slot.start_time.strftime('%H:%M') }}</td>
              <td><span class="status {{ appointment.status }}">{{ appointment.status }}</span></td>
              <td class="actions">
                <!-- <button class="delete"><i class="fas fa-trash"></i></button> -->
                {% if appointment.status == 'pending' %}
                <form action="{{ url_for('vet.manage_appointment', appointment_id=appointment.id, action='confirm') }}" method="post">
                  <button type="submit" class="confirm">Confirm</button>
                </form>
                <form action="{{ url_for('vet.manage_appointment', appointment_id=appointment.id, action='cancel') }}" method="post">
                  <button type="submit" class="cancel">Cancel</button>
                </form>
                {% endif %}
                {% if appointment.status == 'confirmed' %}
                <form action="{{ url_for('vet.manage_appointment', appointment_id=appointment.id, action='complete') }}" method="post">
                  <button type="submit" class="complete">Mark as completed</button>
                </form>
                {% endif %}
                {% if appointment.status == 'completed' or appointment.status == 'cancelled' %}
                <form action="{{ url_for('vet.manage_appointment', appointment_id=appointment.id, action='delete') }}" method="post">
                  <button type="submit" class="delete">Delete</button>
                </form>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock %}

