<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"/>
    <script defer src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <h2 class="logo">LORA LIFE</h2>
        <nav>
          <ul>
            <li><a href="{{ url_for('vet_profile') }}">Appointments</a></li>
            <li><a href="{{ url_for('manage_availability') }}">Manage Availability</a></li>
          </ul>
        </nav>
        <div class="profile">
          <img src="images/me.PNG" alt="Profile Pic" />
          <div class="profile-info">
            <p>{{ current_user.full_name }}</p>
            <p>{{ current_user.email }}</p>
          </div>
        </div>
        <a class="logout" href="{{ url_for('logout') }}">Log out</a>
      </aside>

      <main class="content">
        {% block content %}{% endblock %}
      </main>

    </div>
  </body>
</html>
