<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/register.css') }}"
    />
    <title>LoraLife - Registration</title>
  </head>
  <body>
    <div class="signup">
      <div class="container">
        <div class="signup-form">
          <h1>Create Your Account</h1>
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %}
          <form
            action="{{ url_for('register') }}"
            method="post"
            enctype="multipart/form-data"
          >
            <!-- Common fields to both the Farmers and Vets -->
            <div class="two-column">
              <div class="form-group">
                <label for="name">Full Name *</label>
                <input
                  type="text"
                  name="full_name"
                  id="full_name"
                  placeholder="Full Name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="email">Email *</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="example@gmail.com "
                  required
                />
              </div>
            </div>
            <div class="two-column">
              <div class="form-group">
                <label for="phone">Phone Number *</label>
                <input
                  type="tel"
                  name="phone"
                  id="phone"
                  placeholder="07..."
                  required
                />
              </div>
              <div class="form-group">
                <label for="role">User Role *</label>
                <select
                  name="role"
                  id="role"
                  required
                  onchange="toggleAdditionalFields()"
                >
                  <option value="">Select Role</option>
                  <option value="farmer">Farmer</option>
                  <option value="vet">Veterinarian</option>
                </select>
              </div>
            </div>

            <div class="two-column">
              <div class="form-group">
                <label for="password">Password *</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Enter your password"
                  required
                />
              </div>
              <div class="form-group">
                <label for="confirm_password">Confirm Password *</label>
                <input
                  type="password"
                  name="confirm_password"
                  id="confirm_password"
                  placeholder="Enter your password"
                  required
                />
              </div>
            </div>

            <!-- Farmer Additional Fields -->
            <div id="farmerFields" class="additional-fields">
              <h3>Farmer Details</h3>
              <div class="form-group">
                <label for="farm_name"
                  >Farm Name<span class="optional">(Optional)</span></label
                >
                <input type="text" name="farm_name" id="farm_name" />
              </div>
              <div class="form-group">
                <label for="farm_location">Farm Location *</label>
                <textarea
                  name="farm_location"
                  placeholder="Farm Address"
                  required
                ></textarea>
              </div>
            </div>

            <!-- Vet Additional Fields -->
            <div id="vetFields" class="additional-fields">
              <h3>Veterinarian Details</h3>
              <div class="two-column">
                <div class="form-group">
                  <label class="required">Specialization *</label>
                  <select name="specialization" required>
                    <option value="">Select Specialization</option>
                    <option value="cattle">Cattle</option>
                    <option value="poultry">Poultry</option>
                    <option value="general_vet">General Veterinary</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="required">Years of Experience *</label>
                  <input name="years_experience" type="number" required />
                </div>
              </div>
              <div class="two-column">
                <div class="form-group">
                  <label class="required">Verification Documents *</label>
                  <input type="file" name="verification_documents" required />
                </div>
                <div class="form-group">
                  <label
                    >Clinic/Hospital Name
                    <span class="optional">(optional)</span></label
                  >
                  <input type="text" name="clinic_name" />
                </div>
              </div>

              <div class="form-group">
                <label class="required">Service Area *</label>
                <textarea
                  placeholder="Describe your service area"
                  name="service_area"
                  required
                ></textarea>
              </div>
            </div>
            <button type="submit">Create Account</button>
          </form>
          <p>
            Already have an account? <a href="{{ url_for('login') }}">Login</a>
          </p>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
  </body>
</html>
