<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Role</title>
    <style>
      /* Internal CSS to center the div */
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <div>
      <form action="">
        <label for="user_role">Select role:</label>
        <select name="user_role" required>
          <option value=""></option>
          <option value="admin">Admin</option>
          <option value="farmer">Farmer</option>
          <option value="vet">Vet</option>
        </select>
      </form>
    </div>
  </body>
</html>
