<!-- footer -->
<footer class="footer">
  <div class="container flex">
    <div class="brand">
      <h1>Lora Life</h1>
      <p>Copyright &copy; 2025</p>
    </div>
    <div class="contact-details">
      <p><i class="fas fa-phone"></i>+254 740830422</p>
      <p><i class="fas fa-map-marker-alt"></i>Juja Nairobi</p>
      <p><i class="fas fa-envelope"></i>info@loralife@gmail.com</p>
    </div>
    <div class="social">
      <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
    </div>
  </div>
</footer>
